body{
    font-family: 'Roboto Slab', serif;
    margin: 0;
}
h1{
    color:rgb(128, 128, 128);
    font-size: 75px;
}


.orange {
    color: rgb(255, 166, 0);
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange ,salmon,yellow);
    padding: 10px 10px 10px 10px;
    border-radius: 15px;
    color: white;
    font-size: 15px;
    font-weight: 700px;
    margin-top: 20px;
    
}
.half-width{
    width: 50%;
    padding-left:15px;
    padding-right: 15px;
    padding-top: 25px;
}
.top-part{
   
    display: flex;
    margin-bottom: 50px;
    padding-left: 5%;
}
.half-width img{
    width: 100%;
}
.text{
    margin-bottom: 40px;
    color: gray;
    text-align: justify;
    font-size: 20px;
}
.back{
    background-image: url(images/7.png);
    width: 100%;
    
    background-repeat: no-repeat;
    
}
.text-1{
    text-align: center;
    margin-left: 30%;
    margin-right: 30%;
}

.one-third-width{
    width: 30%;
    margin-left: 5%;
    margin-right:5%;
    text-align: center;
    

}

.bottom-part{
    display: flex;
    margin-bottom: 100px;
}
.box{
    box-shadow: 10px 10px 40px grey;
    width:100%;
    padding-right: 25px;
    padding-left: 25px;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 10px;
}
.box-2{
    box-shadow: 10px 10px 40px grey;
    width:90%;
    margin:5% ;
    border-radius: 20px;
    
}
.beside{
    background: rgb(11, 11, 53);
    width:100px 100px;
    padding-bottom: 130px;
    padding-top: 30px;
}
#white{
    color: white;
    font-size: 15px;
    font-weight: 400;
}